* {
	font-size: 100.01%;
}
body { 
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;
}
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1em; }
h5 { font-size: .85em; }
h6 { font-size: .7em; }
p { font-size: 1em; }
/**allows for full width or page width framework**/
.page {
	margin: 0px auto;
	width: 800px;
}
/**header logo and mini menu**/
#header_area {
	/**border-bottom: 1px solid #ccc;**/
}
#header_area .page {
	position: relative;
}
.page #mini_menu {
	position: absolute;
	top: 57px;
	right: 10px;
}
#mini_menu ul li{
	list-style: none;
	display: inline;
	padding: 0px;
        float: left;
        
}
#mini_menu ul li a{
        text-decoration: none;
        padding: 5px;
}
#mini_menu a:visited{
        color: white;
}
#mini_menu a:link{
        color: white;
}
#logo { 
        width: 200px;
        height: 47px;
}
#logo h1{
        padding: 0px;
        font-size: 1em;
}
#topmenu ul{
        height: 30px;
        padding-left: 5px;
        padding-bottom: 5px;
        background-color: #008182;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
}

#topmenu ul li{
        display: inline;
        list-style: none;
    
}
#topmenu ul li a{
        color: white;
        text-decoration: none;
        float: left;
        padding: 10px;
        text-align: center;
        border-right: solid 2px white;
}
/**footer area and footer menu**/
#footer_area {
	border-top: 1px solid #ccc;
}
#footer_menu {
	text-align: center;
}
#footer_menu ul li{
	list-style: none;
	display: inline;
	padding: 0px 5px;
}
/**registration**/
#registration input {
	
}
#registration ul {
	margin: 0px auto;
	width: 460px;
	height: 350px;
}
#registration ul li {
	margin-bottom: 15px;
	list-style: none;
	height: 28px;
	
}
#registration {
	
}
#registration input[type=text],
#registration input[type=password] {
	width: 300px;
	height: 24px;
	font-size: 18px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
	background: #fff4ff;
}
.form_text {
	width: 120px;
	float: left;
	line-height: 24px;
	font-size: 14px;
	font-weight: bold;
}
.form_element {
	float: left;
	width: 200px;
	
}
.form_submit {
	width:300px;
	text-align: center;
	float: left;
}
.form_register {
	width: 200px;
	float:left;
}