body { 
	font-family: "myriad pro",Arial, Helvetica Neue, Helvetica, sans-serif;
	font-size: 14px;
        font-weight: 100;
	background-color: white;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	font-smooth: always;
}
.index, .about, .contact, .privacy {
	background-color: black;
	background: url('../images/pt-background.jpg') no-repeat;
	background-position: center 0%;
	background-size: 1440px 900px;
	min-width: 960px;	
}
div { display: block; }
/*** form styles*****/
select {
    margin: 3px 0px 0px 5px;
    width: 141px;
    font-size: 16px;
}
#editAccount select{
	font-size: 16px;
	margin-top: 5px;
	float: right;
}
.edit-gender {
	display: block;
	font-size: 16px;
	margin-right: 5px;
	margin-top: 7px;
	float: left;
}
#editAccount textarea {
        width: 190px;
	font-size: 18px; 
        background: #ffffff;
        outline: 0;
        padding: 5px;    
}
textarea {
        width: 178px;
	font-size: 24px; 
        background: #ffffff;
        outline: 0;
        padding: 10px;    
        border: 1px solid #D9DBDF;
}

#content_area input[type=text],
#content_area input[type=password]{
}
.out-signin .centerform {
	width: 311px;
}
.out-signin input[type=text] {
	height: 20px;
	font-size: 14px;
	border: 1px solid #D9DBDF;
	width: 140px;
	padding: 0 5px;
	float: left;
}
.out-signin input[type=password] {
	height: 20px;
	font-size: 14px;
	border: 1px solid #D9DBDF;
	width: 90px;
	padding: 0 5px;
	border-right: none;
	float: left;
}
.out-signin .password {
	width: 101px;
}
.out-signin .inner_button {
	height: 22px;
	background: #FF8600;
	color: white;
	font-size: 14px;
	width: 50px;
	float: left;
	margin-top: 5px;
	line-height: 13px;
}
.errors {
	color: #FF8600;
	font-size: 13px;
}
.out-signin input#login {
	width: 50px;
	height: 22px;
	padding: 0px 0px 2px 0px;
	float: left;
	font-size: 14px;
	background-color: #FF8600;
}
.out-signin input#login:hover {
	width: 50px;
	height: 22px;
	padding: 0px 0px 2px 0px;
	float: left;
	font-size: 14px;
	background-color: #FF7200;
}
.out-signin #errors-email, .out-signin #errors-password {
	color: #454545;
	width: 151px;
	font-size: 13px;
	float: left;
	margin: 3px 0px 0px 0px;
	text-align: center;
}
.out-signin .email {
	width: 140px;
	margin-right: 20px;
}
input[type=text], input[type=password] {
	height: 30px;
	font-size: 18px; 
        line-height: 18px;
	border: none;
	outline: 0;
	width: 188px;
	border: 1px solid #D9DBDF;
        padding: 0 5px;
	float: left;
}

input:focus {
	border: solid 1px #7a7f8a;
}
input[type="submit"] {
    color: white;
    font-size: 20px;
    border: none;
}
input[type=text]:first, input[type=password]:first {
    border-top: none;
}

.focusinput {
    border: 1px solid #FC6C0C;
}
.form_text {
	line-height: 34px;
	font-size: 14px;
        margin: 5px 0px;
        font-weight: bold;
        width: 120px;
}
.form_submitter input[type=submit]
{   padding: 10px;
    text-decoration: none;
    border: none;
    font-size: 14px;
    background: #aaa;
    color: #fff;
}
/** fullwidth and override**/

.custom {
    margin-left: auto;
    margin-right: auto;   
}
.page {
        width: 960px;
        margin: 0 auto;
}
/**header**/
#header_block {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    -moz-box-shadow:0 1px 1px #111;
    -webkit-box-shadow: 0 1px 1px #1;
    box-shadow: 0 1px 1px #111;
    z-index: 999;
}
#header_area {
     /*background: url('../images/bg-pencil2.png') repeat #262626;*/
     z-index: inherit;
     border-bottom: 1px solid #000;
     margin: 0 auto;
     background-color: #000000;
     
}
#header_area .page {
        height: 60px;
       z-index: inherit;
}
/**logo**/
#logo {
        float: left;
        width: 193px;
        height: 60px;
}
#logo h1{
        background: url('../images/plumetype-logo1.png') no-repeat top center;
        text-indent: -9999px;
        width: 193px;
        height: 60px;
}
/**** colors and clears *****/
.orange { color: #FF8600; }
.float_left { float: left; }
.float_right { float: right; }
/**** registration success page ****/
.regsuccess {
    font-size: 20px !important;
    margin-bottom: 15px;
    text-shadow: none;
}
/**** edit account ****/
.account-edit .re-answer a {
		color: #FF8600;
		float:right;
		text-decoration: underline;
		margin-right: 35px;
}
.account-edit .re-answer {
		overflow: hidden;
		margin-top: 15px;
}
.account-edit .top-block {
		overflow: hidden;
}
.account-edit #image {
	margin-top: 20px;
	margin-left: 20px;
}
.account-edit .upload-image {
    border-right: 1px solid #D9DBDF;
    width: 285px;
    padding: 0px 15px 0px 0px;
}
.account-edit .upload-image h1{
    text-align: center;
}
.account-edit .upload-image img {
    margin: 25px 0 0 55px;
}
.account-edit #editAccount h1 {
	margin-bottom: 15px;
}

#profilePic {   
    width: 250px;
    padding-right: 22px;
}
#profilePic li {
    margin-left: 40px;
}
#profilePic #profilePic_submit {
    margin-top: 58px;
    margin-left: 60px;
}

.account-edit #editAccount {
    float: right;
    width: 280px;
    margin-right: 20px;
}
#editAccount #submit{
    margin-left: 32px;
    margin-top: 10px;
    float: left;
    width: 200px;
}
#editAccount li{
    width: 200px;
    margin-left: 30px;
    font-size: 16px;
    margin-top: 5px;
}
/*** profile page ****/
.profile .questions_flow { 
    position: relative;
    text-align: center;
    padding:5px;
    margin: 5px 0px 0px 0px;
    font-size: 14px;
    background: #24A3DF;
    height: 16px;
}
.profile .questions_flow a {
    color: white;
}
.big_name {
text-transform: capitalize;
float: left;
width: 443px;
margin-bottom: 2px;
}
.user_details {
	margin-bottom: 10px;
	text-transform: capitalize;
}
.profile .profile_leftCol {
    float: left;
    padding-right:12px;
}
.profile_image {
    height: 180px;
}
.profile-events-header {
	margin-top: 10px;
	background: url('../images/events-line.png');
        background-repeat: no-repeat;
        background-position: 61px 9px;
	position: relative;
}

.profile_eventList {
		width: 180px;
		overflow: hidden;
}
.eventFeedObject:first-child {
	border-top: none;
}
.profile_eventList .eventFeedObject {
}
.profile_eventList .eventFeedObject a {
	color: #454545;
}

.profile_eventList .mini-feed {
	color: #454545;
	font-size: 13px;
}

.profile_image img{
    width: 180px;
    height: 180px;
}
.profile_rightCol {
    float: left;
    width: 445px;
    overflow: hidden;
    border-left: solid 1px #D9DBDF;
    padding: 0px 0px 0px 12px;
}
.profileDesc {
    font-size: 16px;
    min-height: 48px;
    margin-top: 10px;
    position: relative;
    background: url('../images/about-me-line.png');
    background-repeat: no-repeat;
    background-position: 85px 9px;
}
.profile-about-me {
	padding: 20px 0px 10px 10px;
}
.profile_tags {
    min-height: 306px;
    position: relative;
    background: url('../images/tags-line.png');
    background-repeat: no-repeat;
    background-position: 46px 9px;
}
.profileTagWrapper {
	margin-top: 10px;
}
/*** friend picture ****/
#friendsList ul {
	overflow: hidden;
	width: 260px;
	margin: 0 auto 5px auto;
}
.friends-title {
	background: url('../images/friends-all-line.png');
	background-repeat: no-repeat;
	background-position: 120px 20px;
}

.profile_header {
    overflow: hidden;
}
.friendStatus a{
    color: #FF8600; 
    font-size: 36px;
    font-weight: bold;
}
.friendStatus {
    float: right;
}
.friend_list {float: left; margin: 12px 14px 2px 14px;}
.friends_block .view-friends,
.upcoming_events .view-events {
	text-align: center;
}
.upcoming_events {
	position: relative;
	background: url('../images/upcoming-events-line.png');
	background-repeat: no-repeat;
	background-position: 166px 14px;
}
.events-list-title {
	background: url('../images/event-list-line.png');
	background-repeat: no-repeat;
	background-position: 320px 20px;
}
.friends_block {
	position: relative;
	background: url('../images/friends-line.png');
	background-repeat: no-repeat;
	background-position: 87px 14px;
}
.so-ronery {
	font-size: 14px;
	text-align: center;
	padding: 15px 0;
	color: #454545;
}

/*** search page ****/
.none-singleFound {
    margin-left: 15%;
    margin-top: 10%;
}
.none-singleFound a {
    color: #FF8600;
}
.matchedTag {
    border: 1px solid #FC6C0C;
    background: #FF8600;
    color: white;
    float: left;
    padding: 5px 10px;
    margin: 5px 5px 0px 0px;
    overflow: auto;
    cursor: pointer;
}
.user_info {
    float: right;
    overflow: hidden;
    border-bottom: 1px solid #454545;
    width: 540px;
}
.user_info h2 {
    float: left;
    text-transform: capitalize;
}
.user_addFriend, .user_viewProfile {
    float: right;
    margin-left: 10px;
    line-height: 22px;  
}
.search-wrapped {
    min-height: 500px;
    background: #FFFFFF;
    height: 100% !important;
    color: #454545;
    overflow: hidden;
    padding: 0px;
    width: 650px;
    float: left;
}
.noMatch {
    background: #FF8600;
    color: white;
    padding: 5px 10px;
    margin: 7px 5px 0px 10px;
    overflow: auto;
    cursor: pointer;    
    float: left;
}
.user-info {
	float: right;
	width: 540px;
	background-image: url('../images/search-user-line.png');
	background-repeat: no-repeat;
	background-position: 0px 28px;
	height: 30px;
}
a.search-name {
	color: #454545;
	text-transform: capitalize;
	float: left;
	font-size: 24px;
}
.search-city {
	color: #B4BCCD;
	text-transform: capitalize;
	float: left;
	font-size: 18px;
	margin: 3px 0px 0px 20px;
}
.search-common-tags {
	color: #B4BCCD;
	float: left;
	font-size: 18px;
	margin: 3px 0px 0px 20px;
}
.user_result, .event_result {overflow: auto; padding: 10px;}
.user_like {
    width: 30px;
    font-size: 16px;
    float: left;
    padding: 4px 5px 0px 10px;
    margin-left: 10px;
    color: #B4BBCD;
}
.user_addFriend a, .user_viewProfile a {
    font-size: 16px;
    color: #FF8600;
    float: right;
}
a.add-friend {
	color: #FFFFFF;
	background-color: #94CA15;
	display: block;
	padding: 5px 20px;
	float: right;
}
a.add-friend:hover {
	color: #FFFFFF;
	background-color: #81B012;
	display: block;
	padding: 5px 20px;
	float: right;
}
a.attend-button {
	color: #FFFFFF;
	background-color: #9ED716;
	display: block;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	width: 180px;
	float: right;
	text-align: center;
}
a.attend-button:hover {
	color: #FFFFFF;
	background-color: #94ca15;
	display: block;
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	width: 180px;
	float: right;
	text-align: center;
}
.view_event, .join_event {
	margin-left: 10px;
	font-size: 16px;
	color: #FF8600;
	float: right;
}
.common_number {
    color: #454545;
    float: left;
    font-size: 18px;
    margin-right: 4px;
}
.in_common {
    float: left;
}
.common_value {
    float: left;
    width: 140px;
}
.user_result img {
	float: left;
	margin-top: 3px;
}
/**** cms pages *****/
.cms-title {
	margin-bottom: 15px;
	color: #454545;	
}
.cms-page {
    font-size: 16px;
    color: #454545;
}
/*** about us ***/
.prepend-logo,.questionmark {
	font-size: 57px;
	line-height: 46px;
	float: left;
	color: #FFFFFF;
}
.about-logo {
	margin: 30px 0px 20px 255px;
	float: left;
	width: 960px;
}
.about-logo .logo {
    width: inherit;
    height: inherit;
    display: block;
    background: url('../images/plumetype-flat.png') no-repeat;
}
.about-logo .thelogo {
    float: left;
    width: 240px;
    height: 70px;
    text-indent: -9999px;
}
.prepend-logo {margin-right: 12px;}
.about-text {
	display: block;
	width: 960px;
	background-color: rgba(0,0,0,0.85);
	float: left;
}
.guide-one {
	background: url('../images/guide-one-image.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	float: left;
	width: 320px;
	height: 300px;
}
.guide-one h2 {
	color: #FFFFFF;
	float: left;
}
.guide-two {
	background: url('../images/guide-two-image.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	float: left;
	width: 320px;
	height: 300px;
}
.guide-two h2 {
	color: #FFFFFF;
	float: left;
}
.guide-three {
	background: url('../images/guide-one.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	float: left;
	width: 320px;
	height: 300px;
}
.guide-three h2 {
	color: #FFFFFF;
	float: left;
}
/***** site exterior **********/
  .outside #header_block {display: none;}
   .outside #content_area {margin-top:0px;}
   .outside .page {}
/***** landing styles********/
.index form#login { 
    float: right;
    padding: 0 0 2px 0px;
}
.privacy #footer_menu {
	
}
.contact #footer_menu {
	
}
.about #footer_menu {
	
}
.index #registration{float: left; }
.cms-text {
    font-size: 16px;
    overflow: auto;
    color: #FFFFFF; 
    padding: 10px 20px 20px 20px;
    float: left;
    background-color: rgba(0, 0, 0, 0.85);
}
.out-logo {
    margin-top: 30px;
    overflow: hidden;
}
.out-logo .logo {
    width: inherit;
    height: inherit;
    display: block;
    background: url('../images/plumetype-flat.png') no-repeat;
}
.out-logo .thelogo {
    float: left;
    width: 240px;
    height: 70px;
    text-indent: -9999px;
	z-index: 3;
}
.signup-transparency {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 80%;
		z-index: 0;
}
.homepage-bottom {

}
.tagline {
	color: #FFFFFF;
	text-align: center;
	margin: 165px 0px 30px 0px;
	float: left;
	font-size: 33px;
}
.tagline-top {
	color: #FFFFFF;
	text-align: center;
	margin: 50px 0px 80px 0px;
	font-size: 42px;
}
#errors-email, #errors-password,
#errors-password2, #errors-betakey,
#errors-lastName, #errors-firstName,
#errors-city {
	color: #FF8600;
}
#registration-gender {
	float: left;
	margin-top: 5px;
	font-size: 16px;
	margin-left: 2px;
}
.out-signin .email_default,
.out-signin .password_default {
	font-size: 14px !important;
	position: absolute !important;
	top: 3px !important;
	left: 6px !important;
	color: black;`
}
.out-signin .alternative {
    text-align: center;
    font-size: 40px;
    margin: 20px auto;
}
.index .centerform h1 {
	margin-bottom: 5px;
	font-size: 30px;
}
.index .out-signin {
    overflow: hidden;
    position: relative;
    float: left;
    width: 311px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.85);
    margin-left: 310px;
	z-index: 3;
}
.index .out-logo {
    position: relative;
}

.reset-password {
	display: block;
	float: left;
	color: #FFFFFF;
	margin: 2px 0px 0px 12px;
	padding: 2px 5px 2px 0px;
}
.facebook-login {
	display: block;
	float: left;
	color: #FFFFFF;
	margin: 2px 0px 0px 10px;
	padding: 2px 16px 2px 5px;
}
.out-signin a:hover {
	color: #FF8600;
}

/**top menu**/
#topmenu {
	float: left;
}
#topmenu ul{
        margin-top: 12px;
        width: 400px;
}

#topmenu ul li{
        display: inline;
        list-style: none;
    
}
#topmenu ul li a{
        color: white;
        text-decoration: none;
        float: left;
        padding: 51px 10px 11px 10px;
        text-align: center;
        background-color: transparent;
        width: 70px;
        margin-left: 5px;
        margin-right: 5px;
        box-shadow: 0 0 1px 1px #cccccc;
        -moz-box-shadow: 0 0 1px 1px #cccccc;
        -webkit-box-shadow: 0 0 1px 1px #cccccc;
}
#topmenu ul li a:hover {
    background-color: #bbb;
}
#topmenu ul li a:hover {
	opacity: .8;

}
/** mini menu**/
#reg_links {
    margin-top: 26px;
    margin-right: 15px;
    float: right;
    width: 250px;
    text-align: right;
}
#reg_links li {
    display: inline;
   
}
#reg_links li a{
	text-decoration: none;
        padding: 10px 10px;
        font-size: 14px;
        background: #aaa;
        color: #fff;
}
#reg_links li a:hover {
    background: #fc6c0c;
}

#login_link {
	
}
/*** right block area ***/
.block-body{
    overflow: hidden;
    color: #000000;
}

.block-body .friend_list {
	margin: 5px;
}
.right-block .mini-feed a {
	width: 210px;
	float: right;
	min-height: 30px;
}

.block-body .mini-feed {
}

.create_button {
	margin-bottom: 7px;
}
.create_button h1{
    height: 70px;
    width: 270px;
    margin: 0;
    padding: 0;
    text-indent: -9999px;
    background: url('../images/create-event.png') no-repeat top center;
}
.create_button h1:hover{
    background: url('../images/create-event-hover.png') no-repeat top center;
}
.right-block { 
    float: left;
    width: 270px;
    padding: 0px 0px 0px 12px;
    border-left: solid 1px #D9DBDF;
    height: 100%;
}
.right-block a {
    color: #000000;
    width: 100%;
    display: block;
}

.right-block a:hover {
	color: #ff8600;
}

.block-item h3 {
    font-family: "Myriad Pro" ,verdana , tahoma, helvetica, sans-serif;
    text-transform: uppercase;
    margin-left: 4px;
    font-weight: 500;
}
    
.block-header {
    padding: 5px;
    background: url('../images/plus-button.png') no-repeat left center;
    margin-bottom: 5px;
}

.block-header h4 {
	margin-left: 17px;
	color: #000000;
}

.block-close {
    background: url('../images/minus-button.png') no-repeat left center;
}
/**footer area and footer menu**/
.twitter_follow{
    width: 135px;
}
.fb_like{
    width: 100px;
}
#footer_menu {
   font-size:12px;
   z-index: 10;
}
#footer_menu .page {
    overflow: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#footer_menu .right_footer li {
    display: inline;
    float: right;
}
#footer_menu .right_footer {
	z-index: 3;
    float: right;
    width: 300px;
    overflow: hidden;
    margin: 7px 0;
}
#footer_menu .left_footer {
        float: left;
	text-align: left;
        padding: 10px;
}
#footer_menu .left_footer li{
	list-style: none;
	display: inline;
	padding: 0px 6px 0px 4px;
        color: #FFFFFF;
}
#footer_menu .left_footer li a {
    color: #FFFFFF;
    text-decoration: none;
}
#footer_menu .left_footer li a:hover {
    text-decoration: none;
    color: #FF8600;
}

/** content area **/
#content_area {
	margin-top: 80px;
}
#content_area a {
/**		color: #454545;**/
}

#content_area .page {
        overflow: hidden;
        padding-bottom: 24px;
}
.view-wrapped {
    width: 650px;
    height: 100% !important;
    color: #454545;
    overflow: hidden;
    padding: 0px 12px 0px 0px;
    float: left;
    min-height: 480px;
}

.dashboard-title {
	margin-bottom: 10px;
	background: url('../images/dashboard-line.png');
	background-repeat: no-repeat;
	background-position: 175px 20px;
}

.my-tags {
	margin-top: 15px;
}
.no-tags-available {
	margin: 30px 150px 0px 190px;
	color: #FF8600;
}

#content-page {
    width: 640px;
    min-height: 500px;
    background: rgba(150,150,150,.4);
     height: 100% !important;
     color: #dddddd;
     margin: 5px;
     overflow: auto;
     padding: 5px 10px;
}
/*****login message*****/
.loginonce {
    background: #666;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}
.exitbutton {
    height: 25px;
    width: 25px;
    background: url('../images/exit.png');
    position: absolute;
    top: 10px;
    right: 10px;
}
/****search friend*****/
.search_friend_form
{
    float: left;
}
.friend_finder_inner {
    width: 310px;
    margin: 13px 30px 14px 40px;   
    float: left;
}
.search_friend_form input {
    padding: 0px 30px 0px 10px;
    width: 230px;
    height: 30px;
    font-size: 16px;
}

.search_friend_submit 
{   
    float: right;
}
.search_friend_submit input {
    margin-left: -70px;
    width: 30px;
    height: 30px;
    margin-top: 3px;
    border: none;
    background: url('../images/search.png') no-repeat top center;
    text-indent: -9999px;
}
/***icon bar ****/
.icon_bar {
	float: right;
	height: 60px;
}
.icon_bar .top-bar {
	height: 50px;
	margin-top: 7px;
}
.icon_bar .top-bar .settings-button,
.icon_bar .top-bar .notifications-button,
.icon_bar .top-bar .friends-button{
	list-style: none;
	float: left;
	position: relative; 
}
.icon_bar ul li a {
	float: left;
}
.icon_bar ul li .sub-settings {
    position: absolute;
    left: 0px;
    top: 54px;
    background: black;
    margin:0;
    padding: 0;
    float: left;
    display: none;

}
.icon_bar ul li .sub-setting2 {
    position: absolute;
    left: 0px;
    top: 54px;
    background: black;
    margin:0;
    padding: 0;
    display: none;
    float: left;
    color: #FFFFFF;
    width: 200px;
    padding: 10px;
}
.icon_bar #friendRequests {
	background: #454545;
	padding: 5px 5px 10px 10px;
	min-height: 100%;
	font-size: 14px;
}
.friend-request-message {
	width: 200px;
	display: block;
	float: left;
}
.friend-request-name {
	color: #FF8600;
	margin-right: 3px;
}
.friend-request-name:hover {
	color: #ff6600;
	margin-right: 3px;
}
.accept-ignore {
	display: block;
	float: left;
	width: 200px;
	height: 20px;
}
.friend-request-accept {
	margin: 5px 10px 15px 50px;
}
.friend-request-ignore {
	margin: 5px 0px 15px 15px;
}
.friend-request-accept:hover,
.friend-request-ignore:hover {
	color: #FF8600;
}
.icon_bar ul.sub-setting2 li.friend-requests {
	width: 200px;
	clear: both;
	padding: 10px;
	float: left;
	display: block;
	border-bottom: solid 1px #a3a3a3;
}
.icon_bar ul.subsetting2 li.friend-requests:last-child {
	border-bottom: none;
}

.icon_bar ul li .sub-settings li {
    margin: 0;
    padding: 0;
}
html .icon_bar ul li .sub-settings li a {
    text-align: right;
    padding: 10px;
    font-size: 14px;
    color: white;
}
html .icon_bar ul li .sub-settings li a {
		width: 110px;
}
html .icon_bar ul li .sub-settings2 li a {	
}

html #friendRequests ul li .sub-settings li a,
html #friendRequests ul li .sub-setting2 li a{
    float: right;
    text-align: right;
    width: 110px;
    padding: 10px;
    font-size: 13px;
    font-weight: 600;
    background: #454545;
    color: white;
}
html .icon_bar ul li .sub-settings li a:hover {
    color: #FF8600;
}
html .icon_bar ul li .sub-settings .first-setting a{
    margin-bottom: 0px;
    border-bottom: solid 1px #a3a3a3;
}
html .icon_bar ul li .sub-settings .last-setting a{
    margin-top: 0px;
}
/**** friend stuff*****/
.friend_name {
	text-align: center;		
    list-style: none;
    font-size: 12px;
	word-wrap: break-word;
	margin: 2px 0px 0px 0px;
}

.friend_pic {
}

.friend-city {
		font-weight: normal;
		color: #AAA;
		font-size: 12px;
		margin-top: 2px;
}

/*** profile area ***/
.left_col {
    overflow: auto;
    float: left;
    width: 49%;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    min-height: 400px;
}
.eventFeedObject, .generalFeedObject {
    padding: 6px 0px 6px 5px;
    color: #454545;
    overflow: hidden;
}

.profile_eventList .mini-feed {
		width: 170px;
}
.mini-feed {
		width: 265px;
		float: left;
}
.mini-feed h4 {
}

.mini-feed a:hover {
	color: #ff8500;
}
.eventFeedObject p {
		float: left;
}

.own-event {
	float: left;
	display: block;
	background-color: #FF8600;
	color: white;
	font-size: 11px;
	line-height: 10px;
	padding: 3px 3px 3px 3px;
}

.profile_eventList .own-event {
	float: left;
}
.profile_eventList .event-side-date {
	float: left;
}
.profile_eventList h5 {
	width: 120px;
	float: right;
}
.event-side-date {
	float: left;
	margin-top: 5px;
	font-size: 15px;
	color: #FF8600;
	margin: 0px 0px 2px 0px;
}
.right_col {
    overflow: auto;
    width: 49%;
    float: right;
    min-height: 400px;
}
/**** event creation ****/
.show-advanced {text-align: right;}
.show-advanced a {
	color: #454545;
	text-decoration: underline;
}
.invisible {
	display: none;
	font-size: 18px;
}
.event_creation input[type=text]{
     margin: 5px;
}
.event_creation textarea {
    margin: 5px 10px 5px 5px;
}
.event_creation input[type=submit] {
    padding: 10px;
    margin: 5px 10px 5px 5px;
}
/**app style login**/



.remove_top_border {
    border-top: none !important;
}
.profile .top_col .change_border_color  {
    border: none !important;
}
.profile #content_area .tag_input {
    margin: 0px;
    padding: 0px;
    width: 280px;
}
.profile li.as-result-item, li.as-message {
    
}
.profile ul.as-selections li.as-original input {
    z-index:999999;
    padding-top: 0px;
}
.change_border_color {
    border: 1px solid #D9DBDF !important;
}
.centerform {
    width: 200px;
}

.button { margin-top: 5px; overflow: auto; float: left;}
.inner_button {overflow: inherit;}
/****** Buttons *********************
*************************************
*****Separate with a comma***********
*************************************
*****************************/
.inner_button #login {}
.inner_button #login, 
.inner_button #register, 
.inner_button #createEvent_submit,
#personalDescription_submit,
#submit_tag, 
#submit,
#contact_submit,
#profilePic_submit,
#wall_addPost,
#register
{ 
  height: 35px;
  display: block;
  background: #454545;
  color: white;
  padding: 0 50px;
}

#wall_addPost { 
  height: 32px;
  display: block;
  background: #454545;
  color: white;
  float: left;
  width: 174px;
}

#wall_addPost:hover {
  height: 32px;
  display: block;
  background: #333;
  color: white;
  float: left;
  width: 174px;
}

.index #register {
   width: 200px;
}
.inner_button #login:hover, 
.inner_button #register:hover, 
.inner_button #createEvent_submit:hover,
#personalDescription_submit:hover,
#submit_tag:hover, 
#submit:hover,
#contact_submit:hover,
#profilePic_submit:hover,
#wall_addPost:hover {
    background: #333333;
}
.inner_button {overflow: hidden;}
.inner_button .register_button {
    float:right;
   }
.inner_button .register_button a{
    width: inherit;
    text-decoration: none;
}
.inner_button .register_button a h1 {
    padding-left: 50px;
    padding-right: 50px;
   line-height: 48px;
   border: 1px solid #fc6c0c; 
    background: #EE8641;
    height: 48px;
     margin-left: 0px !important;
    color: #eee;
    text-align: center;
   font-weight:bold;
   font-size: 24px;
   margin-right: 10px;
}
/** app style registration **/

/** input fields **/
.email,
.password,
.first_name,
.beta-key,
.last_name,
.city,
.password,
.password_again,
.reglist,
.create-text,
.name,
.subject,
.text
{ 	position: relative;
	width: 200px;
	float: left;
	margin: 5px 0px;
}

.inner_button #register {
}
/** app style event creation page **/
.create_date {
    position: relative;
}
#createEvent .center-form {
	
}

#createEvent #createEvent_shortDescription {
    width: 175px;
    float: right;
    z-index: 100;
}
.createEvent_longDescription_default {
	position: absolute;
	top: 10px;
	left: 10px;
	cursor: text;
	font-size: 18px;
	padding: 0 10px 10px 0px;
}

#createEvent #createEvent_date_active {
    width: 175px;
    right: 0;
    top: 0px;
    margin-left: 18px;
    z-index: 200;
}
#createEvent #createEvent_location {
    width: 175px;
    float: right;
    z-index: 300;
}
#createEvent #createEvent_longDescription {
    font-size: 18px;
    margin: 0px;
    width: 248px;
}
#createEvent_submit {
	width: 270px;
}
.createEvent_shortDescription_default.dimmed.unselectable,
.createEvent_location_default.dimmed.unselectable,
.createEvent_longDescription_default.dimmed.unselectable {
	position: absolute;
	font-size: 18px;
	
}

#createEvent .centerform {margin: 10px 0px 0px 0px;}
#createEvent .centerform li {
	margin: 0px 0px;
	overflow: hidden;
	float: left;
	display: block;
	width: 270px;
}
#createEvent .centerform li .createEvent_text {
	font-size: 18px;
	margin: 8px 17px 13px 0px;
}
#createEvent .centerform .form_date {
	overflow: hidden;
	float: right;
}
#createEvent_private {
	font-size: 18px;
	width: 100px;
	margin: 10px 7px 0px 21px;
}
/*** app style profile page ***/
#personalDescription_description, #tag_input {
     border-radius: 5px;
     font-size: 18px;
}
/** app style content **/
#content-page h1 {
    border-bottom: 1px solid #777;
    padding-bottom: 5px;
}
#content-page .content-text {
    padding: 0;
    border-top: 1px solid #363636;
}
/** app style contact **/
.text textarea{
		font-size: 18px;
}
#contact .centerform {
	margin-left: 255px;
	width: 410px;
	float: left;
	background-color: rgba(0,0,0,0.85);
	padding: 20px;
}
#contact .email {
	float: left;
	margin-right: 10px;
}
#contact .subject {
	width: 410px;
	float: left;
}
#contact .text {
	width: 410px;
	float: left;
}
#contact #text {
	width: 388px;
	float: left;
}
#contact #subject {
	width: 398px;
	float: left;
}
#contact_submit { 
  height: 35px;
  display: block;
  background: #454545;
  color: white;
  padding: 0 50px;
  width: 410px;
}
.contact-text {
    font-size: 16px;
    overflow: hidden;
    color: #FFFFFF; 
    padding: 20px 20px 2px 20px;
    float: left;
    width: 410px;
    margin-left: 255px;
}
.contact-logo {
	margin: 30px 0px 20px 260px;
	float: left;
	width: 960px;
}
.contact .logo {
    width: inherit;
    height: inherit;
    display: block;
    background: url('../images/plumetype-flat.png') no-repeat;
}
.contact .thelogo {
    float: left;
    width: 240px;
    height: 70px;
    text-indent: -9999px;
}
/**** PRIVACY PAGE ****/
.privacy .questionmark {
	font-size: 57px;
	line-height: 43px;
	float: left;
	color: #FFFFFF;
	margin-left: 12px;
}
.privacy-logo {
	margin: 30px 0px 20px 185px;
	float: left;
	width: 960px;
}
.privacy .logo {
    width: inherit;
    height: inherit;
    display: block;
    background: url('../images/plumetype-flat.png') no-repeat;
}
.privacy .thelogo {
    float: left;
    width: 240px;
    height: 70px;
    text-indent: -9999px;
}
/**** top column profile page ****/
.top_col {
    position: relative;
}
/**** tags ******/
#tag_category { width: 200px;}
.tag_input_wrapper {
    margin: 0 auto !important;
    width: 300px;
    border: 1px solid #D9DBDF;
    margin: 10px 0px;
}
.tag-wrapper {
		float: left;
}
.enter-tag {
	font-size: 15px;
	margin: 7px 10px 12px 110px;
	font-weight: 600;
	float: left;
}
.no-quotes {
	margin: 5px;
	color: #FF8600;
}
ul.as-selections {
    box-shadow: none !important;
}
ul.as-selections li.as-original {
    text-align: right !important;
    float: right;
}
ul.as-selections {
    border: none !important;
}
.tag_dropdown {
    position: absolute;
    right: 5px;
    font-size: 14px;
    font-weight: bold;
}
.tags_area {
    z-index: -1;
    min-height: 100px;
    margin-bottom: 10px;
    padding: 10px 0px 0px 0px;
}

.tags_area h2 {
	margin-bottom: 10px;
	margin-top: 20px;
}

.profile_tags .tags_base {
	padding: 10px 0px 0px 10px;
}

.profile_tags .tags_base h4 {
	font-size: 16px;
}

.profile ul.as-selections li.as-selection-item,
.profile ul.as-selections li:hover.as-selection-item{
		background-image: none;
		background-color: #FF8600;
}
.tag_dropdown {
    text-align: right;
}
.tags_base {
    z-index: -1;    
    min-height: 100px;
      overflow: hidden;
      
      
}
.tags {
    background: #ff8600;
    color: white;
    float: left;
    padding: 5px 10px 7px 10px;
    margin-bottom: 5px;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
}
.tags-arrow {
	width: 0;
        height: 0;
        border-top: 13px solid #FFFFFF;
        border-bottom: 13px solid #FFFFFF;
        border-left: 13px solid #ff8600;
	position:absolute;
	right:-12px;
	top: 0px;
}
.tag_text {float: left;
        margin-right: 5px;
}
.close_tag {
    margin-top: 4px;
    padding:  5px;
    background: url("../images/close-tag.png") no-repeat center center; 
    float:right;
}

.tag_disable {
    background: #454545;
}
.tag-arrow-color {
	border-left: 13px solid #454545;
}
.tag_remove {
    display: none;
}
/**Dialogs*/
#modal-content {
    float: left;
}
.modal-wrapped {
    overflow: hidden !important;
     height: 100% !important;
     color: #454545;
     margin: 5px;
     overflow: auto;
     padding: 5px 10px;
}
.index .modalWindow {
		margin-left: 42%;
}
.modalWindow { 
    position:absolute;
    background:white;
    margin-left:35%;
    margin-right:auto;
    z-index:3;
    top:50%;  
    margin-top:-220px;
}
.modalBackground {
    position:absolute;
    width:100%;
    overflow: hidden;
    height:100%;
    z-index:2;
    top:0px;
}
.modalWindow #createEvent {
    color: #454545;
    width: 270px;
}
.closeBox {
    position: relative
}
.exitBox {
	position: absolute;
	right: 0;
	top: 0;
}
.closeBox .exitBox {
    background: url('../images/exit-button.png') no-repeat center center white;
    padding: 6px;
}
#flashMessages .exitBox {
    position: absolute;
    right: 3px;
    top: 2px;
    padding: 10px;
    background: url('../images/close-tag.png') no-repeat center center;
}
/****  dialog ****/
.modalWindow .view-wrapped {
    width: 245px;
    overflow: hidden;
}
.modalWindow #view-content {
    width: 100%; 
}
/**** dialog questions ***/
.questions-window {
	padding: 15px;
}

.questions-window h1 {
}
.required {
	font-size: 16px;
}
.questions_1 li,
.questions_2 li,
.questions_3 li,
.questions_4 li {
	float: left;
	display: block;
}
.questions_1 dt,
.questions_2 dt,
.questions_3 dt,
.questions_4 dt {
	margin: 10px 0px 5px 0px;
}
.questions_1 dd {
}
.questions_1 input[type="text"],
.questions_2 input[type="text"],
.questions_3 input[type="text"],
.questions_4 input[type="text"] {
	float: left;
	width: 233px;
}
.questions_1 form,
.questions_2 form,
.questions_3 form,
.questions_4 form {
	display: block;
	float: left;
}
.questions_1 .submit,
.questions_2 .submit,
.questions_3 .submit,
.questions_4 .submit {
	display: block;
	float: left;
	color: #FFFFFF;
	background-color: #454545;
	height: 30px;
	line-height: 30px;
	width: 245px;
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
}
.questions_1 .submit:hover,
.questions_2 .submit:hover,
.questions_3 .submit:hover,
.questions_4 .submit:hover {
	background-color: #333;
}
/*** flash messages***/
#flashMessages {
}
#flashMessages ul li {
    position: relative;
    text-align: center;
    padding:5px;
    margin: 5px 0px;
    font-size: 14px;
    background: #FF8600;
    color: #ffffff;
}
.index #flashMessages ul li {
    position: relative;
    text-align: center;
    padding:5px;
    font-size: 14px;
    background: rgba(166, 166, 166, 0.2);
    color: #ffffff;
}
/***** event page ******/
.event_title {
    float: right;
    margin-bottom: 10px;
    width: 450px;
    font-size: 30px;
}

.single-event .event_title {
    float: right;
    margin-bottom: 10px;
    width: 450px;
    font-size: 30px;
}
.event-left {
	float: left;
	width: 180px;
}

.event_self {
    color: #000000;
    float: left;
    width: 180px;
    font-size: 20px;
    display: block;
    background: url('../images/owner-marker.png');
    background-position: 0px 2px;
    background-repeat: no-repeat;
}
.event_self h4 {
	margin: 3px 0px 0px 16px !important;
	padding: 0px !important;
	font-size: 15px !important;
	color: #FF8600;
	height:16px;
}
.event_main {
    overflow: hidden;
    width: 650px;
}
.event_main .event_img {
    float: left;
    padding: 0px 20px 0px 0px;
    height: 180px;
    width: 180px;
}
.event_main .event_img img{ 
}
.event_main .event_description {
    float: right;
}
.event_main .event_right {
    width: 380px;
    float: left;
    padding: 0 40px 0 50px;
}
.event_main h4 {
    font-size: 20px;
    padding: 5px 0px;
    margin: 1px 0px 0px 25px;
    float: left;
}
.event_date {
	position: relative;
	background: url('../images/date-marker.png');
	background-repeat: no-repeat;
	background-position: 0px 10px;
	float: left;
	margin-right: 50px;
	width: 300px;
}
.event-status {
	position: relative;
	background: url('../images/status-marker.png');
	background-repeat: no-repeat;
	background-position: 0px 10px;
	float: left;
	margin-right: 50px;
	width: 300px;
}
.event_place {
	position: relative;
	background: url('../images/place-marker.png');
	background-repeat: no-repeat;
	background-position: 0px 10px;
	float: left;
	width: 300px;
}
.event_location {
	position: relative;
	background: url('../images/description-marker.png');
	background-repeat: no-repeat;
	background-position: 0px 10px;
	float: left;
	width: 300px;
}
.interested_list {
	margin-top: 10px;
	overflow: hidden;
}
.attending-title {
	position: relative;
	background: url('../images/attending-line.png');
	background-repeat: no-repeat;
	background-position: 121px 13px;
	margin-bottom: 10px;
}
.attendingList {
	margin-top: 5px;
	overflow: hidden;
}
.interested_list .waitingList a,
.attendingList a{
	color: #000000;
}
.interested_list .waitingList a:hover,
.attendingList a:hover{
	color: #FF8600;
}
.interested_list .waitingList,
.interested_list .attendingList{
	float: left;
	padding: 10px 0px;
}
.interested_list .waitingList .event_allow,
.attendingList .event_allow{
    color: #FF8600;
    font-size: 12px;
    margin-top: 4px;
    text-align: center;
}
.waitingList .waitingImg {
    position: relative;
}
.waiting-details,
.attending-details{
	text-align: center;
	font-size: 13px;
	height: 25px;
	line-height: 13px;
	width: 100px;
	height: 25px;
	margin-top: 2px;
}
.waiting-item{
	float: left;
	margin: 0px 15px;
}
.attending-item {
		float: left;
		margin-right: 15px;
}
.interested_list .waitingList .waitingImg span,
.event_wall .wall_image span
{
    position: absolute;
    right: 0px;
    bottom: 3px;
    color: white;
    padding:5px;
    background: green;
    border-radius: 5px;
}
.event_wall .wall_title {
    margin-bottom: 15px;
    position: relative;
    background: url('../images/event-wall-line.png');
    background-repeat: no-repeat;
    background-position: 63px 13px;
}
.event_wall .wall_image {
    position: relative;
    float: left;
}
.event_wall .wall_name {
    font-size: 18px;
    float: left;
    margin: 15px 10px 10px 20px;
}
.event_wall .posts {
    overflow: hidden;
}
.event_wall .wallpost {
    float: left;
    position: relative;
    width: 640px;
    margin-bottom: 10px;
}
.event_wall .wall_text {
    word-wrap: break-word;	
    float: left;
    margin: 15px 0px 0px 10px;
    font-size: 18px;
    width: 457px;
}
.event_wall .wallpost a{
    margin-left: 7px;
    color: #000000;
    font-size: 14px;
    text-decoration: underline;
}
.event_wall .wallpost a:hover {
}
.event_wall #wall_comment {
    float: left;
    margin: 0px;
    width: 465px !important;
    border-right: none !important;
}

#wall_comment:focus {
	border: solid 1px #454545;
}
.event_wall #Wall {
    margin: 0;
}
.event_wall .wall_text {
	position: relative;
}
.event_wall .delete_post {
    position: absolute;
    right: 7px;
    top: 0px;
    padding: 5px;
    text-indent: -9999px;
}
.event_wall .delete_post:hover {
    background: url('../images/exit-button.png') no-repeat center center;
}
/*** event list page ***/
.event-list .none-singleFound {
	margin-top: 0;
	margin-left: 0;
}
/*** notification/event page ***/
.notifications-title {
	background: url('../images/notifications-line.png');
	background-repeat: no-repeat;
	background-position: 200px 20px;
}
.notification .notification-object {
	overflow: hidden;
}
.notification .notification-object,
.event-list ul.event-object {	
	margin: 10px 0px 10px 4px;
}
.single-event {
    margin: 0 !important;
    padding: 20px 10px;
}
.single-event a {
	margin: 10px 0px;
}
.notification .notification-object span {
	color: #bbb;
	font-size: 12px;
}
.individual-object {
	margin-bottom: 3px;
	float: left;
	font-size: 16px;
}
.individual-object a {
	color: #FF8600;
}
.event-describer {
	margin: 5px 0px;
}
.change-password {
	color: #FF8600;
	display: block;
	float: left;
	margin: 20px 20px 20px 80px;
}
#passwordReset #submit {
	height: 32px;
}
#passwordReset input[type="text"] {
	border-right: none;
}
#passwordReset ul {
	margin-top: 15px;
}
#passwordReset li {
	height: 32px;
	margin: 0;
}