body { 
	font-family: Helvetica, Arial, sans-serif;
	font-size: 12px;

        background: #cccccc url('../images/bgsprite2.png');
}

div { display: block; }

#content_area h1 {
    margin-left: 70px;
}
.clear_form {clear: both; display: block; }
/*** form styles*****/
.form_area {
    margin-left: auto;
    margin-right: auto;
    width: 440px;
    margin-bottom: 20px;
}
select {
    margin: 12px;
}
textarea {
        width: 300px;
	
	font-size: 18px;
        -moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
	background: #fff4ff;
}
input[type=text], input[type=password] {
	width: 300px;
	height: 30px;
	font-size: 18px;
        -moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ddd;
	background: #fff4ff;
}      
.form_date {
    float: left;
}
.float_left {
    float: left;
}
.float_right {
    float: right;
}
.form_text {
	line-height: 34px;
	font-size: 14px;
        margin: 5px 0px;
        font-weight: bold;
        width: 120px;
        
}
.form_submitter input[type=submit]
{   padding: 10px;
    text-decoration: none;
    border: none;
    font-size: 14px;
    background: #aaa;
    color: #fff;
    -moz-border-radius: 3px;
    border-radius: 3px;
}


/**allows for full width or page width framework**/

.custom {
	margin-left: auto;
        margin-right: auto;
        margin-bottom: 0px;
        margin-top: 30px;
        padding: 0px;
	width: 600px;
	background-color: white;
	box-shadow: 0 0 5px 5px #000;
	-webkit-box-shadow: 0 0 2px 2px #454545;
	-moz-box-shadow: 0 0 2px 2px #454545;
      
	/*border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;*/
        /*custom class*/
}
.page {
    overflow: auto;
}
/**header**/
#header_area .page {

        background: #ddd;
}
/**logo**/
#logo { 
        
       margin: 12px 20px 0px 20px;
        float: left;
        width: 200px;
}
#logo h1{
        
}
/**top menu**/
#topmenu {
	
	float: left;
}
#topmenu ul{
        margin-top: 12px;
        width: 400px;
}

#topmenu ul li{
        display: inline;
        list-style: none;
    
}
#topmenu ul li a{
        color: white;
        text-decoration: none;
        float: left;
        padding: 51px 10px 11px 10px;
        text-align: center;
        background-color: transparent;
        border-radius: 5px;
        width: 70px;
        margin-left: 5px;
        margin-right: 5px;
        box-shadow: 0 0 1px 1px #cccccc;
        -moz-box-shadow: 0 0 1px 1px #cccccc;
        -webkit-box-shadow: 0 0 1px 1px #cccccc;
}
#topmenu ul li a:hover {
    background-color: #bbb;
}
#topmenu ul li a:hover {
	opacity: .8;

}
/** mini menu**/
#reg_links {
    margin-top: 30px;
    margin-right: 15px;
    float: right;
    width: 200px;
  
    text-align: right;
}
#reg_links li {
    display: inline;
   
}
#reg_links li a{
	text-decoration: none;
        padding: 10px 10px;
        font-size: 14px;
        background: #aaa;
        color: #fff;
         -moz-border-radius: 3px;
	border-radius: 3px;
}
#reg_links li a:hover {
    background: #454545;
}
#registration_link {

}
#login_link {
	
}

/**footer area and footer menu**/

#footer_menu {

}
#footer_menu ul {
        
	text-align: center;
      
        padding: 10px 0;
}
#footer_menu ul li{
	list-style: none;
	display: inline;
	padding: 0px 5px;
        text-shadow: 1px 1px 1px #000;
	color: #616161;
}

/** content area **/
#content_area {
	padding: 10px 10px;
	overflow: auto;
        background: #eee;
        
     
}
#view-content {
    overflow: auto;
}
/**registration**/
#registration input {
	
}

#registration {
	margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
	width: 500px;
        

}

.reglist {
	margin-bottom: 25px;
	list-style: none;
	height: 28px;
        display: block;
	
}
#registration {
	
}


font-weight: bold;
}
.form_element {
	float: left;
	
	
}
.form_submit {
	width:300px;
	text-align: center;
	float: left;
}
.form_register {
	width: 200px;
	float: left;
}
#registration .errors {
	width: 420px;
        float: left;
     
}
#registration .errors li {
    list-style: none;
}
/**registration ajax**/

/*****login message*****/
.loginonce {
    background: #666;
    padding: 15px;
    margin-bottom: 15px;
    position: relative;
}
.exitbutton {
    height: 25px;
    width: 25px;
    background: url('../images/exit.png');
    position: absolute;
    top: 10px;
    right: 10px;
}
/****search friend*****/
.friend_finder {
   background: #d6d6d6;
   position: relative;
}
.search_friend_form
{
    float: left;
}
.friend_finder_inner {
    width: 290px;
    height: 22px;
    margin: 0 auto;
    padding: 10px 0;
    
}

.search_friend_form input {
    width: 250px;
    height: 20px;
}
.search_friend_submit 
{
    float: right;
}
.search_friend_submit input {
    width: 30px;
    height: 30px;
 
    border: none;
    background: url('../images/search.png') no-repeat top center;
    text-indent: -9999px;
}
/***icon bar ****/
.icon_bar {
    position: absolute;
    right: 0px;
    top: 0px;
    margin: 0px 6px 0px 0px;
    padding: 0px;
}
.icon_bar ul {
    margin: 6px 0px 0px 0px;
    padding-top: 0;
}
.icon_bar ul li {
    list-style: none;
    float: left;
    margin: 0px;
    padding: 0px 3px;
}
/** left icon bar ***/
.left_icon_bar{
    float: left;
}
.left_icon_bar img {
    margin: 6px 0 0 8px;
}
/**** friend stuff*****/
.friend_name {
    list-style: none;
    padding: 3px 0 0 3px;
    font-weight: bold;
    font-size: 12px;
}
/*** profile area ***/
.left_col {
    overflow: auto;
    float: left;
    width: 49%;
    border-right: 2px solid #ccc;
    padding-right: 5px;
    min-height: 400px;
    
    
}
.eventFeedObject, .generalFeedObject {
    background: #d6d6d6;
    padding: 5px;

}
.right_col {
    overflow: auto;
    width: 49%;
    float: right;
    min-height: 400px;
}
/**** event creation ****/
.event_creation input[type=text]{
     margin: 5px;
}
.event_creation textarea {
    margin: 5px 10px 5px 5px;
}
.event_creation input[type=submit] {
    padding: 10px;
    margin: 5px 10px 5px 5px;
}