/** css reset style sheet **/
* {
    margin: 0;
    padding: 0;
    border:0;
    font-weight:inherit;
    font-style:inherit;
    font-family:inherit;
    vertical-align:baseline;
    line-height: 100%;
}
h1,h2,h3,h4,h5,h6,strong {
	/*bringing boldness back to headers and the strong element*/
	font-weight:500;
	color: #000000;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 15px;
}

a {
    text-decoration: none;
    color: white;    
}
li {
    list-style: none;
}
.last-child {
    border-right: none !important;
}
ol {
    margin-left: 20px;
}
.dimmed {
    color: #ccc;
}

*.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
    user-select: none;
}