/*** right block area ***/
.block-body {
    overflow: hidden;
    color: #000000;
}

.block-body .friend_list {
    margin: 5px;
}
.right-block .mini-feed a {
    width: 215px;
    float: right;
    min-height: 30px;
}

.create_button {
    margin-bottom: 7px;
}
.create_button h1 {
    height: 55px;
    width: 250px;
    margin: 7px 0px 13px 0px;
    padding: 0;
    text-indent: -9999px;
    background: url('../images/create-event.png') no-repeat top center;
}
.create_button h1:hover {
    background: url('../images/create-event-hover.png') no-repeat top center;
}
.right-block { 
    float: left;
    width: 270px;
    padding: 0px 0px 0px 12px;
    border-left: solid 1px #D9DBDF;
    height: 100%;
}
.right-block a {
    color: #000000;
    width: 100%;
    display: block;
    font-size: 14px;
}

.right-block a:hover {
    color: #ff8600;
}

.block-item h3 {
    font-family: "Myriad Pro" ,verdana , tahoma, helvetica, sans-serif;
    text-transform: uppercase;
    margin-left: 4px;
    font-weight: 500;
}
    
.block-header {
    padding: 5px;
    /*background: url('../images/plus-button.png') no-repeat left center;*/
}

.block-header h4 {
    color: #000000;
}

.block-close {
    /*background: url('../images/minus-button.png') no-repeat left center;*/
}
.notifications_block .individual-object {
    float: right;
    font-size: 14px;
    color: #000000;
    width: 214px !important;
}
.individual-object a {
    display: inline;
}
.upcoming_events {
    position: relative;
    /*background: url('../images/upcoming-events-line.png');
    background-repeat: no-repeat;
    background-position: 166px 14px;*/
    width: 270px;
}
.friends_block {
    position: relative;
   /* background: url('../images/friends-line.png');
    background-repeat: no-repeat;
    background-position: 87px 14px;*/
    float: left;
    width: 270px;
}
.notifications_block {
    position: relative;
    /*background: url('../images/friends-line.png');
    background-repeat: no-repeat;
    background-position: 130px 14px;*/
    float: left;
    width: 270px;
}

.notifications_block .notification-object,
.event-list ul.event-object {	
    margin: 7px 0px 10px 4px !important;
}
.notifications_block .notification-object {
    overflow: hidden;
}
.notifications_block .notification-object span {
    color: #bbb;
    font-size: 12px;
}
.notifications_block .notification-object {	
    margin: 0px;
}
.notifications_block img {
    margin: 5px 15px 0px 10px;
}
.notifications_block .view-notifications {
    text-align: center;
    display: block !important;
    color: #CCC;
    margin-bottom: 10px;
}
.so-ronery {
    font-size: 14px;
    text-align: center;
    padding: 15px 0;
    color: #454545;
}
.friends_block .view-friends,
.upcoming_events .view-events {
	text-align: center;
	margin-bottom: 10px;
	color: #CCC;
}